.header {
    height: 100px;
    width: 100%;
    background-color: #00dbeb;
}
.content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    max-height: 800px;

}

.hero {
    width: 40%;
    height: 300px;
    background-color: #dcc2e2;
    order: 1;
}
.main {
    width: 60%;
    height: 500px;
    background-color: #fec831;
    order: 2;
}
.sidebar {
    width: 40%;
    height: 500px;
    background-color: #88cd62;
    order: 3;
    position: relative;
    top: -200px;
}
.extra-content {
    width: 60%;
    height: 300px;
    background-color: #888888;
    order: 4;
}
.ralated {
    display: flex;
    justify-content: flex-start;
}
.image {
    height: 150px;
    width: 80%;
    background-color: #00c472;
}
.post {
    height: 150px;
    width: 20%;
    background-color: #ffc3dd;
}
.footer {
    height: 100px;
    background-color: #ff9d00;
}
