div {
    margin: 5px;
}
.wrapper {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    min-height: 500px;
}
.header-menu {
    width: 50%;
    background-color: #005fba;

}
.x {
    min-height: 200px;
    background-color: #005fba;

}
.footer {
    flex: 1 100%;
    display: flex;
    justify-content: space-between;
}
.footer-menu {
    width: 33%;
    height: 200px;
    background-color: #04417a;
}
.widgets {
    flex: 1 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.widget {
    width: 33.3%;
    min-height: 200px;
    background-color: #04417a;
    /*margin: 5px;*/
}
.contact {
    min-height: 600px;
    background-color: #005fba;
}
